.boost_1 {
    background-color: lightcoral;
    border-radius: 1rem;
    border-color: indianred;
}

.boost_0 {
    background-color: mediumslateblue;
    border-radius: 1rem;
    border-color: hotpink;
}