img.boost_1 {
    background-color: lightcoral;
    border-radius: 0.5rem;
    border: solid white;
}

.boosts.container {
    display: flex;
    flex-wrap: wrap;
}

img.boost_0 {
    background-color: mediumslateblue;
    border-radius: 0.5rem;
    border: solid white;
}
