{% extends "base.html" %}
{% load static %}
{% block body %}
<body>
    <main class="app" align="center">
        <nav class="nav">
            Hi, {{ user.username }}
            <a href="{% url 'logout' %}">Logout</a>
        </nav>

        <div class="container">
            <div id='coins'>{{core.coins}}</div>
            <img src="{% static 'img/main.png' %}" alt="click me" onclick="call_click()" id="image">
            <p>
                Click power: <span id="click_power">{{ core.click_power }}</span>
            </p>
            <p>
                Auto click power: <span id="auto_click_power">{{ core.auto_click_power }}</span>
            </p>
        </div>

        <aside class="boosts container" id="boosts" style="justify-content: space-evenly;">
                {% for boost in boosts %}
                    <div class="boost_{{ boost.type }} " id="boost_{{boost.id}}" style="padding: 5px; display: inline-flex">
                        <img src="{% static 'img/boost.png' %}" class="boost_{{ boost.type }}" id="boost_{{boost.id}}" style="width: 90px;
height: 90px;" onclick="buy_boost({{boost.id}})" alt="boost image">
                        <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-between;">
                            <p style="margin: 0; ">lvl: <span id="boost_level">{{boost.level}}</span></p>
                            <p style="margin: 0; ">+<span id="boost_power">{{boost.power}}</span></p>
                            <p style="margin: 0; "><span id="boost_price">{{boost.price}}</span></p>
                        </div>
                    </div>
                {% endfor %}
        </aside>
    </main>
</body>
{% endblock %}