{% load static %}
<html lang="ru">
<head>
    <title>Anime clicker</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

    <style>
    body {
        background-image: url('/frontend/static/img/background.png');
        background-size: 100%;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
    }
  </style>
</head>
    {% block body %}
    {% endblock %}
</html>